.article {
    background: #fff;
    display: flex;
}


.article>* {
    flex: 1;
}

.article__img img {
    height: 50vh;
    width: 100%;
}

.page-container {
    max-width: 80%;
    margin: 0 auto;
}

.article__content {
    padding: 2em;
    padding-top: 0;
}
